/* TAGCLOUD */

.tagcloud__box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tagcloud {
    display: inline-block;
    top: 0;
    left: 0;
    font-weight: 600;
    font-size: 36px;
}