
.container {
    width: 100%;
    height: 100vh;
    background-color: #111111;

}
.content {
    width: 100%;
    height: 100vh;
    background-color: #111111;
    position: relative;
    padding: 0 4rem;
}
.content img {
    height: 50vh;
}
img {
    margin-bottom: 4em;
}