@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600;700&display=swap');

@font-face {
  src: url("../public/FONT-PACK/10\ Canopee/Canopee.otf") format("woff");
  font-family: "Canopee";
  font-style: normal;
  font-weight: 500;
}

@font-face {
  src: url("../public/Roslindale_Web/fonts/Roslindale-DisplayCondensedMedium-Testing.woff") format("woff");
  font-family: "Roslindale";
  font-style: normal;
  font-weight: 500;
}

@font-face {
  src: url("../public/Mak/Web/MAK.woff") format("woff");
  font-family: "Mak";
  font-style: normal;
  font-weight: 500;
}
@font-face {
  src: url("../public/FONT-PACK/14\ Cosi\ Times/CosiTimes-Bold.ttf") format("woff");
  font-family: "Cosi Times";
  font-style: normal;
  font-weight: 700;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #fff6e5;
  color: #111111;
  font-family: "Roslindale", "Helvetica Ne";
  cursor: none;
}

#cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: difference;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.cursor__text {
  font-size: 5px;
  font-weight: 900;
  letter-spacing: 1px;
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}

input,
button {
  all: unset;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #fff6e5;
  border: 1px solid #fff6e5;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #363636;
}

.slide-in {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #141414;
  transform-origin: bottom;
}

.slide-out {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #141414;
  transform-origin: top;
}