.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: background-color 2.5s ease, color 2.5s ease;

}

.projects__headlines {
    width: 95%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 9.5em 0;

}

.projects__headline,
.projects__date {
    font-size: 152px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: "Roslindale", sans-serif;
}

.projects__date {
    align-self: flex-end;
}

.body {
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* PROJECT */

.project {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0px;
    border-top: 1px solid rgb(134, 134, 134);
    cursor: pointer;
    transition: all 0.2s;
    font-family: "Archivo", sans-serif;

}

.project:last-of-type {
    border-bottom: 1px solid rgb(201, 201, 201);

}

.project:hover {
    opacity: 0.5;

}

.project:hover h2 {
    transform: translateX(-10px);

}

.project:hover p {
    transform: translateX(10px);
}

.project h2 {
    font-size: 36px;
    text-transform: uppercase;
    transition: all 0.4s;
    font-weight: 500;
}

.project p {
    transition: all 0.4s;
    font-weight: 500;
    font-family: "Arial", sans-serif;
}



/* modal */

.modal__box {
    height: 300px;
    width: 350px;
    position: absolute;
    background-color: white;
    overflow: hidden;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal__slider {
    height: 100%;
    width: 100%;
    position: absolute;
    transition: top 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.modal {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal img {
    height: auto;
}

.cursor,
.cursor__label {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #ffffff9d;
    color: #111111;
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 300;
    pointer-events: none;

}

.cursor__label {
    background-color: transparent;
}


.background__color {
    background-color: #111111;
    color: #fff6e5;
    transition: all 1s ease;
}