.projects__wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative; /* Add position relative */
	overflow: visible; /* Set overflow to visible */
  }
  
  .project__box {
	display: flex;
	width: 100%;
	padding: 50px 100px;
	align-items: center;
	justify-content: space-between;
	border-top: 1px solid rgb(201, 201, 201);
	transition: all 0.2s linear;
	position: relative;
  }
.project__box:hover {
	opacity: 0.5;
}
.project__title {
	font-size: 52px;
	font-size: 500;
	transition: all 0.2s linear;
}
.project__info {
	font-size: 16px;
	font-weight: 500;
	transition: all 0.2s linear;
}
.project__box:hover .project__title {
	transform: translateX(-10px);
}
.project__box:hover .project__info {
	transform: translateX(10px);
}


/* MODAL */
.modal__wrapper {
	height: 350px;
	width: 400px;
	position: absolute; 
	overflow: hidden;
	pointer-events: none;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
  }
  
  .modal__slider {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0; /* Add top: 0 to align with the parent */
	transition: top 0.5s cubic-bezier(0.76, 0, 0.24, 1);
  }
  
  .modal {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
  .modal__img {
	width: fit-content;
	height: auto;
	transform: rotate(20deg);
	z-index: 999;
  }